
@{
    ViewBag.Title = "Add Book";
    Layout = "~/Views/Shared/_main.cshtml";
}

@using openbooks.Models;
@model string
<body>
    <div class="container">
        <div class="register">
            <form method="post" action="../Home/Addbook">
                <h2>
                    Add new Book
                </h2>
                <br />
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label>Author</label>
                    <input type="email" class="form-control" id="email" name="author" placeholder="Author">
                </div>
                <div class="form-group">
                    <label>ISBN</label>
                    <input type="text" class="form-control" name="isbn" id="isbn" placeholder="ISBN">
                </div>
                <div class="form-group">
                    <label>labnguage</label>
                    <input type="text" class="form-control" id="language" name="language" placeholder="Language">
                </div>
                <div class="form-group">
                    <label>Publication Date</label>
                    <input type="text" class="form-control" id="date" name="pdate" placeholder="Publication Date">
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="price">
                </div>
                <div class="form-group">
                    <label>Discount</label>
                    <input type="text" class="form-control" id="Discount" name="Discount" placeholder="Discount">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <input type="text" class="form-control" id="category" name="category" placeholder="Category">
                </div>
                <div class="form-group">
                    <label>No of copies</label>
                    <input type="text" class="form-control" id="noofcopies" name="noofcopies" placeholder="No of copies">
                </div>
                <button type="submit" class="btn btn-primary">Add</button> &nbsp; &nbsp; &nbsp; <label>@Model</label>

            </form>

        </div>
    </div>
    <br /><br />
</body>